@model HRMPj.Models.Attendance

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Attendance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AttendanceDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AttendanceDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OutTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OutTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EarlyInTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EarlyInTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EarlyOutTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EarlyOutTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LateInTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LateInTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LateOutTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LateOutTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeInfo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeInfo.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
